{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "vars": "local",
        "args": "none"
      }
    ],
    "no-console": "off",
    "arrow-parens": "off",
    "arrow-body-style": "warn",
    "no-extra-boolean-cast": "off"
  }
}
